aside {
    display: flex;
    justify-content: center;
}

#profile {
    border-style: double;
    border-width: 10px;
    margin: 10vh 10vw;
    width: 400px;
    padding: 20px 0px;
}

#photo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

#contactme {
    text-align: center;
}
