.sticky {
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 1px;
    overflow-y: scroll;
    background-color: #fdd935;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    transition: .5s;
}

nav li a {
    display: block;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

nav li a:hover {
    color:#e1f2f7;
}

input {
    display: none;
}

@media screen and (max-width: 700px) {
    nav aside {
        display: flex !important;
    }
    nav #email {
        text-align: center;
    }
    nav #github {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        width: 300px;
        right: 0;
        background-color: #fdd935;
        height: 100%;
        justify-content: flex-start;
        border-color: #e1f27f;
        border-style: solid;
        transition: .5s ease-in-out;
    }
    nav ul a {
        text-align: left;
    }
    nav li a:hover {
        background-color: #e1f27f;
        border-color: #000000;
        border-style: solid;
    }
    #nav-toggle .menu {
        position: fixed;
        right: -100px;
        top: -100px;
        z-index: 99;
        width: 200px;
        height: 200px;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #nav-toggle .hamb {
        position: absolute;
        top: 135px;
        left: 50px;
        width: 30px;
        height: 2px;
        background: #000000;
        display: block;
        transform-origin: center;
        transition: .5s ease-in-out;
    }
    #nav-toggle .hamb:after,
    #nav-toggle .hamb:before {
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000000;
    }
    #nav-toggle .hamb:before {
        top: -10px;
    }
    #nav-toggle .hamb:after {
        bottom: -10px;
    }
    #nav-toggle input {
        display: none;
    }
    #nav-toggle input:checked+.menu {
        transform: translate(-300px, 0);
    }
    #nav-toggle input:checked+.menu .hamb {
        transform: rotate(45deg);
    }
    #nav-toggle input:checked+.menu .hamb:after {
        transform: rotate(90deg);
        bottom: 0;
    }
    #nav-toggle input:checked+.menu .hamb:before {
        transform: rotate(90deg);
        top: 0;
    }
    .hide {
        /* transform: translateX(100%); */
        transform: translate(100%, 0);
        transition: .5s ease-in-out;
    }
}
